@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap);

body {
margin:-2px;
}

p,h1,h2,h3,h4,h5,h6 {
font-family:0 BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
color:#252b42;
margin:0;
}

.head {
background:url(img/Gradient.png);
background-repeat:no-repeat;
background-size:cover;
}

header {
display:flex;
justify-content:space-between;
padding:0 40px;
}

.menu {
display:flex;
width:50%;
height:54px;
justify-content:space-between;
margin:auto 0;
}

.menuText {
font-weight:400;
font-size:15px;
color:#FFF;
margin-top:auto;
margin-bottom:auto;
}

.menuInput {
border-radius:39px;
border:0;
padding:19px 39px;
}

::placeholder {
font-family:0 BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
color:#18171d;
font-size:16px;
}

.menuButton {
background:#FFF;
color:#ef2779;
font-weight:500;
font-size:16px;
border-radius:39px;
cursor:pointer;
padding:16px 38px 19px;
}

.leftTitle {
width:50%;
}

.content {
display:flex;
align-items:center;
}

h1 {
font-weight:900;
font-size:55px;
color:#FFF;
max-width:340px;
}

.whiteH4 {
color:#FFF;
max-width:340px;
margin-top:7px;
text-align:left;
}

.upButton {
background:#FFF;
color:#38a3f1;
font-weight:500;
font-size:22px;
border-radius:39px;
max-width:120px;
margin-top:75px;
cursor:pointer;
padding:16px 38px 19px;
}

.firstCont {
margin-top:80px;
margin-bottom:200px;
}

.ContText {
max-width:320px;
margin-left:auto;
margin-right:auto;
margin-bottom:80px;
}

h3 {
font-size:22px;
text-align:center;
}

h2 {
font-size:46px;
text-align:center;
}

h4 {
font-size:16px;
text-align:center;
}

.f3text {
margin-bottom:90px;
}

.row {
grid-template-columns:250px 250px 250px;
grid-column-gap:50px;
justify-content:center;
display:grid;
}

.headLine {
display:flex;
margin-bottom:20px;
}

.h3 {
font-weight:700;
font-size:22px;
text-align:left;
}

.button {
max-width:235px;
text-align:center;
margin-left:auto;
margin-right:auto;
font-weight:700;
font-size:22px;
padding-top:16px;
padding-bottom:16px;
color:#FFF;
background-color:#38a3f1;
border-radius:35px;
cursor:pointer;
}

.mac {
margin-top:100px;
display:block;
margin-left:auto;
margin-right:auto;
max-width:800px;
}

.gradient {
background-image:url(img/Desktop-light.png);
background-size:cover;
padding-top:80px;
padding-bottom:110px;
}

.centerInput {
max-width:73px;
border-radius:39px;
border:0;
padding:19px 240px 19px 35px;
}

.contInput {
max-width:350px;
margin-left:auto;
margin-right:auto;
margin-bottom:12px;
}

.whiteCenterP {
margin-top:10px;
margin-bottom:40px;
color:#FFF;
text-align:center;
}

.title {
margin-bottom:70px;
}

.redButton {
color:#FFF;
padding-top:19px;
padding-bottom:19px;
text-align:center;
border-radius:35px;
background-color:#ef2779;
max-width:350px;
margin-left:auto;
margin-right:auto;
}

.l3Title {
margin-top:90px;
}

.l3H4 {
max-width:300px;
font-weight:700;
font-size:16px;
line-height:20px;
margin:20px auto 90px;
}

.centerH6 {
text-align:center;
}

.CenterImg {
display:block;
margin:15px auto;
}

.rowText {
font-weight:400;
font-size:18px;
line-height:27px;
margin-bottom:80px;
}

.l1Title {
margin-top:110px;
margin-bottom:90px;
}

.rectangle {
display:block;
margin-left:auto;
margin-right:auto;
margin-bottom:50px;
}

.l1H4 {
max-width:680px;
margin-left:auto;
margin-right:auto;
}

.client {
display:flex;
max-width:160px;
margin:50px auto 80px;
}

.avatarText {
display:flex;
flex-direction:column;
justify-content:space-around;
}

.l3H2 {
margin-top:210px;
margin-bottom:20px;
}

.Items {
display:grid;
grid-template-columns:340px 340px 340px;
max-width:1100px;
margin-left:auto;
margin-right:auto;
grid-column-gap:50px;
}

.Pricing-style-1 {
box-shadow:1px 4px 12px 6px rgba(34,60,80,0.2);
padding:40px;
}

.gradient2 {
background:url(img/Pricing-style-1-contrast.png);
background-size:cover;
border-radius:10px;
}

.bigButton {
max-width:235px;
text-align:center;
margin-left:auto;
margin-right:auto;
font-weight:500;
font-size:16px;
line-height:16px;
padding-top:18px;
padding-bottom:18px;
color:#FFF;
background-color:#38a3f1;
border-radius:35px;
cursor:pointer;
}

.whiteButton {
background:#FFF;
color:#ef2779;
font-weight:500;
font-size:16px;
border-radius:39px;
cursor:pointer;
padding:18px 88px;
}

.heading {
margin-bottom:10px;
}

.headline {
font-weight:900;
font-size:55px;
line-height:65px;
margin-right:10px;
}

.block {
display:flex;
align-items:center;
justify-content:flex-start;
margin-bottom:40px;
}

.bigH6 {
font-size:15px;
}

.contact {
background-color:#252b42;
padding-top:95px;
}

.norm {
font-weight:400;
font-size:46px;
margin-bottom:20px;
}

.contactRow {
display:flex;
align-items:center;
justify-content:center;
margin-top:50px;
}

.rightRow {
margin-left:65px;
width:300px;
}

.rightBlock {
display:flex;
align-items:center;
margin-bottom:20px;
}

.blocText {
font-weight:700;
font-size:14px;
line-height:18px;
margin-left:20px;
}

.rightImg {
margin-top:50px;
max-width:200px;
display:flex;
justify-content:space-between;
}

.footer {
margin-top:130px;
display:flex;
align-items:center;
justify-content:center;
}

.footTitle {
text-align:left;
margin-bottom:25px;
}

.leftCulom {
margin-right:140px;
}

.leftText {
margin-bottom:15px;
font-weight:400;
font-size:17px;
line-height:27px;
}

.f1text,.f2text,.title1 {
margin-bottom:20px;
}

.headLineIc,.avatar {
margin-right:10px;
}

.whiteH3,.whiteH2,.white {
color:#FFF;
}

@media max-width 1100px{
.Items {
display:flex;
}

.footer {
display:flex;
flex-direction:column;
}

.leftCulom {
margin:0;
}

.menuText {
display:none;
}

.footTitle,.leftText {
text-align:center;
}
}

@media max-width 500px{
.Items {
display:flex;
flex-direction:column;
}
}
